.hover {
    background-color: transparent;
    border: 1px solid transparent;
    transform: scale(1);
    transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hover:hover {
    background-color: var(--neutral-alpha-weak);
    border-color: var(--neutral-alpha-weak);
    transform: scale(1.05);
}


.hoverFull {
    transform: scale(1);
    transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hoverFull:hover {
    background-color: var(--neutral-alpha-weak);
    border-color: var(--neutral-alpha-weak);
    transform: scale(1.05);
}


